.container{
	height: 50vh;
	width: 80%;
	background-color: yellow;
	margin:auto;
}

.content_cube{
	width: 25%;
	height: 100px;
	float: left;
}

.cube{
	background-color: black;
	height: 50px;
	margin: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
  	.color{
  		background-color: black;
  	}
}

@media screen 
  and (min-device-width: 100px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}


@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}




